<%- include("partials/header") %>

<!-- I want to show a list of posts -->

<head>
    <title>Post 2</title>
</head>
<div class="post-2" style="margin-bottom: 10rem;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Post 2</h1>
                <p>Post 2 content</p>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Eleifend malesuada ad, conubia non et nisi leo viverra. Aliquet
                iaculis dolor; facilisi tempor nisi morbi nascetur. Fames ut montes urna vestibulum ornare; maximus dapibus libero.
                Dictumst inceptos cursus diam a ornare. Diam id donec congue, bibendum habitant mattis. Laoreet malesuada pharetra
                penatibus sit leo id.</p>
                
                <p>Tempor ridiculus primis sociosqu ut conubia libero. Et pretium velit tincidunt quis efficitur volutpat tempus. Eget
                bibendum iaculis non interdum nec. Scelerisque dignissim duis euismod, urna hendrerit placerat sagittis odio pharetra?
                Sodales commodo adipiscing proin himenaeos habitant curae. Tincidunt ex velit facilisi penatibus dapibus; conubia
                mollis. Senectus praesent tincidunt primis quisque pellentesque ante suscipit magnis. Ultricies primis per id integer;
                condimentum potenti nec aenean. Arcu lectus taciti efficitur fames venenatis.</p>
                
                <p>Parturient magnis phasellus risus metus nisi duis. Duis placerat dictum semper potenti vivamus libero facilisis lacinia
                mauris. Eros urna parturient inceptos; class ipsum amet. Condimentum condimentum volutpat lobortis per sed dignissim
                ullamcorper. Taciti ante augue mattis consequat, volutpat lobortis. Maximus ex mattis vel conubia cubilia? Ante tempus
                at morbi imperdiet faucibus viverra aptent condimentum montes. Quis pellentesque magna parturient auctor; habitant lorem
                pretium. Conubia integer venenatis efficitur; torquent phasellus elementum amet. Penatibus ornare augue dis mus
                ridiculus vivamus mollis ultricies.</p>
                
                <p>Egestas mauris rutrum eget facilisi blandit lacus. Integer massa feugiat dolor; nam fermentum mus aliquet augue posuere.
                Curae taciti sit aliquam ut neque. Sem potenti elementum facilisis lorem lobortis ornare interdum cras. Sem diam sed
                aliquam, quisque torquent euismod. Porta at proin aptent quam ex rhoncus laoreet turpis. Ligula dapibus fermentum eget
                elementum varius orci augue ad montes. Conubia magna ridiculus urna, facilisi vel convallis laoreet leo. Accumsan curae
                cursus adipiscing ullamcorper eleifend vehicula adipiscing. Aaenean tempor primis eu duis tristique dapibus, velit
                consequat.</p>
                
                <p>Pretium facilisi aptent in dui turpis nunc. Diam cursus nascetur sociosqu nisi turpis. Phasellus inceptos tellus
                interdum quis feugiat egestas placerat neque risus. Quisque et magna porttitor molestie curabitur feugiat. Dictum
                tristique turpis ultrices parturient eu cras! Eros feugiat risus senectus, natoque duis mauris. Venenatis rhoncus
                finibus consectetur nostra potenti. Amet potenti dictum nam iaculis laoreet.</p>
            </div>
        </div>
    </div>
    

</div>
<%- include("partials/footer") %>